<!-- Footer -->
<footer class="bg-gray-50">
  <div class="mx-auto max-w-7xl px-8 pt-16 lg:px-12 xl:px-16">
    <!-- Logo and Navigation Links -->
    <div class="flex flex-col items-start justify-between pb-20 md:flex-row">
      <a href="/" class="mb-8 flex w-48 items-center text-lg font-bold md:mb-0 md:w-1/6">
        <img src="/assets/images/churchillcloud-logo-color.svg" alt="Churchill Cloud Logo" class="h-auto w-full">
      </a>
      <div class="flex w-full flex-row justify-between md:w-5/6 md:justify-end md:space-x-12 md:pr-6">
        <div>
          <h3 class="font-semibold">
            <a href="{{ '/about/' | relative_url }}" class="text-primary-dark hover:text-accent-dark">About</a>
          </h3>
        </div>
        <div>
          <h3 class="font-semibold">
            <a href="{{ '/pricing/' | relative_url }}" class="text-primary-dark hover:text-accent-dark">Pricing</a>
          </h3>
        </div>
        <div>
          <h3 class="font-semibold">
            <a href="{{ '/contact/' | relative_url }}" class="text-primary-dark hover:text-accent-dark">Contact</a>
          </h3>
        </div>
      </div>
    </div>

    <!-- Bottom Section with Border -->
    <div class="border-t border-gray-200 py-10">
      <div class="flex flex-col items-center justify-between lg:flex-row">
        <!-- Copyright -->
        <div class="mb-6 text-xs text-neutral lg:mb-0">&copy; 2025 Churchill Cloud</div>

        <!-- Legal Links -->
        <div class="flex space-x-6 text-xs">
          <a href="{{ '/privacy/' | relative_url }}" class="text-primary-dark hover:text-accent-dark">
            Privacy Policy
          </a>
          <a href="{{ '/disclaimers/' | relative_url }}" class="text-primary-dark hover:text-accent-dark">
            Disclaimers
          </a>
          <a href="{{ '/terms/' | relative_url }}" class="text-primary-dark hover:text-accent-dark">
            Terms and Conditions
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
