<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - Churchill Cloud</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% if page.additional_css %} {{ page.additional_css }} {% endif %}
  </head>
  <body>
    {% include header.html %} {{ content }} {% include try-it-now-cta.html %} {%
    include footer.html %} {% if page.additional_js %} {{ page.additional_js }}
    {% endif %}
  </body>
</html>
